*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc;
}
.TopBar{
    min-height: 50px;
    background-color: #EF5122;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.Bar{
    padding-left: 0;
    margin: auto 20px;
}
.Bar_item{
    color: #fff;
    margin: 5px 10px;
    list-style: none;
    display: inline-block;  
} 

.sign_in{
    max-width: 720px;
    background-color: white;
    margin: 36px auto 0;
    padding: 32px;
}
.row{
    padding: 8px 0 ; 
    display:flex;
}
.form_label{
    min-width: 100px;
}
.form_input{
    flex: 1;
}


.column_layout{
    margin-top: 40px;
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
}
.column_item{
    background-color: #fff;
    margin-left: 10px;
} 
.one{
    /* background-color: #fff;
    padding: 12px; */
    flex: 1;
    order: 1;
}
.two{
    /* background-color: palevioletred;
    padding: 12px; */
    flex: 3;
    order: 3;
}
.tree{
    /* background-color: aqua;
    padding: 12px; */
    flex: 1;
    order: 2    ;
}


.feature_layout{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* flex-direction: row-reverse;  */
}
 @media(max-width:740px)
{
    .feature_layout{
        flex-direction: column;
    }
} 
.feature_item{
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}
.feature_item:nth-child(1){
    background-color: rgb(192,227,222);
}
.feature_item:nth-child(2){
    background-color: rgb(227,220,192);
}
.feature_item:nth-child(3){
    background-color: rgb(226,192,227);
}


.shape{
    margin-top: 40px;
    background-color: #fff;
    padding: 12px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
.shape_item{
    width: 150px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;
}


.center_layout{
    margin-top: 20px;
    width: 700px;
    height: 400px;
    background-color: rgb(103, 243, 76);
    margin: 36px auto 0;
    padding: 32px;
    display: flex;
}
.center_item{
    margin: auto;
} 


.chart_layout{
    margin-top: 40px;
    background-color: #fff;
    height: 400px;
    padding: 32px 0;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-end; */
}
.chart_item{
    align-self: flex-end;
    width: 60px;    
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: red;
    animation: growth ease-out 0.5s;
}
@keyframes growth{
    from{
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to{
        opacity: 3;
        height: var(--percent);
    }
}



.the_end{
    max-width: 800px;
    /* background-color: #fff; */
    margin: 40px auto 0 auto;
    padding: 36px;
    flex-direction: row-reverse;
    display: flex;
}
.onee{
    background-color: #fff;
    padding: 12px;
    flex: 1;
}
.two_tree{
    flex: 1;
    flex-direction: column-reverse;
    display: flex;
}
.twoo{
    background-color: palevioletred;
    padding: 12px;
    flex: 1;
}
.treee{
    background-color: aqua;
    padding: 12px;
    flex: 1;
}